<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTMX -->
    <script src="../js/htmx.min.js"></script>
    <script src="../js/json-enc.js"></script>

    <!-- Tailwindcss -->
    <link href={{crate::consts::CSS_STYLESHEET}} rel="stylesheet" />

    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link class="bg-white rounded-full" rel="icon" type="image/jpeg" href="../assets/icons/illumGray.png">

</head>

<body class="h-dvh w-dvw flex overflow-y-auto bg-nostr-black text-nostr-white">
    {% block content %}{% endblock %}
</body>

</html>
