<section id="contactSection" class="flex h-full w-full">
    <div id="contactFormHolder" class="translate-x-full py-12  transition-transform">
    </div>
    <div id="contactDetails" class="flex flex-1 translate-x-0 py-12 transition-transform">
        <div class="mx-16 flex flex-1 flex-col items-center justify-center px-4">
            <div class="mb-8 w-full text-center">
                <h1 class="font-modern text-4xl tracking-widest text-neutral-500">THANK YOU!</h1>
            </div>
            <div class="mb-8 w-full text-center">
                <div class="mb-4">
                    <h3 class="mb-4 font-josefin text-2xl text-neutral-950">We will reach out to you shortly!</h3>
                </div>
            </div>
        </div>
    </div>
</section>
