<section id="contactSection" class="flex h-full w-full">
    <div id="contactDetails" class="translate-x-full py-12 transition-transform">
    </div>
    <div id="contactFormHolder" class="flex flex-1 translate-x-0 py-12 transition-transform">
        <div class="mx-16 flex flex-1 flex-col items-center justify-center px-4">
            <form hx-post="/contactForm" hx-target="#contactSection" hx-swap="outerHTML"
                class="flex w-1/3 flex-col items-center justify-evenly">
                <div class="mb-8 block w-full">
                    <label for="userName"
                        class="relative block overflow-hidden border-b border-gray-200 bg-transparent pt-3 focus-within:border-blue-600">
                        <input type="text" id="userName" placeholder="Your Name" name="name" required
                            class="peer h-8 w-full border-none bg-transparent p-0 font-josefin placeholder-transparent placeholder:font-josefin focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />
                        <span
                            class="absolute start-0 top-2 -translate-y-1/2 font-josefin text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                            Name
                        </span>
                    </label>
                </div>
                <div class="mb-8 block w-full">
                    <label for="userContact"
                        class="relative block overflow-hidden border-b border-gray-200 bg-transparent pt-3 focus-within:border-blue-600">
                        <input type="text" id="userContact" placeholder="Email or Phone Number" name="contact" required
                            title="Enter a valid email address or phone number"
                            class="peer h-8 w-full border-none bg-transparent p-0 font-josefin placeholder-transparent placeholder:font-josefin focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm" />
                        <span
                            class="absolute start-0 top-2 -translate-y-1/2 font-josefin text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                            Contact
                        </span>
                    </label>
                </div>
                <div class="mb-8 block w-full">
                    <label for="userMessage"
                        class="relative block overflow-hidden border-b border-gray-200 bg-transparent pt-3 focus-within:border-blue-600">
                        <textarea type="text" id="userMessage" placeholder="Drop Us A Line!" name="message" required
                            class="peer h-8 w-full border-none bg-transparent p-0 font-josefin placeholder-transparent placeholder:font-josefin focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm"></textarea>
                        <span
                            class="absolute start-0 top-2 -translate-y-1/2 font-josefin text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs">
                            Message
                        </span>

                    </label>
                </div>
                <div class="mb-8 block w-full">
                    <div class="flex flex-1 flex-row items-center justify-center">
                        <button type="submit"
                            class="mx-4 bg-neutral-950 px-8 py-4  font-josefin text-xs font-semibold text-neutral-100">SENT</button>
                        <p hx-get="/contactDetails" hx-target="#contactSection" hx-swap="outerHTML"
                            class="mx-4 font-josefin text-lg text-neutral-400 underline">Cancel</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
