<section id="contactSection" class="flex h-full w-full">
    <div id="contactFormHolder" class="translate-x-full py-12  transition-transform">
    </div>
    <div id="contactDetails" class="flex flex-1 translate-x-0 py-12 transition-transform">
        <div class="mx-16 flex flex-1 flex-col items-center justify-center px-4">
            <div class="mb-8 w-full text-center">
                <h1 class="font-modern text-4xl tracking-widest text-neutral-500">CONTACT US</h1>
            </div>
            <div class="mb-8 w-full text-center">
                <div class="mb-4">
                    <h3 class="mb-4 font-josefin text-2xl text-neutral-950">Better yet, see us in person!</h3>
                </div>
                <div>
                    <h3 class="mb-4 font-josefin text-xl text-neutral-400">+503 7918 0984</h3>
                </div>
            </div>
            <div class="mb-4 w-full text-center">
                <p class="mb-4 font-josefin text-2xl text-neutral-950">@illuminodes</p>
            </div>
            <div class="w-full text-center">
                <div class="mt-4 w-full items-center text-center">
                    <button hx-get="/contactForm" hx-target="#contactSection" hx-swap="outerHTML"
                        class="bg-neutral-950 px-8 py-4 font-josefin  text-xs font-semibold text-neutral-100">DROP
                        US A
                        LINE!</button>
                </div>
            </div>
        </div>
    </div>
</section>
