{% extends "base.html" %}
{% block title %}Illuminodes{% endblock %}
{% block content %}
<div class="flex min-h-screen flex-col">
    <main class="flex flex-1 flex-col">
        <section class="flex w-full select-none flex-col text-center">
            <div class="my-4">
                <h1 class="font-josefin text-3xl  text-neutral-500">illuminodes</h1>
            </div>
        </section>
        <section class="flex h-[32rem] w-full flex-col text-center">
            <div class="flex flex-1 flex-row justify-start bg-neutral-900">
                <div class="w-1/2 select-none">
                    <img src="assets/stock1.png" class="h-full w-full" />
                </div>
                <div class="flex w-5/12 flex-row items-center">
                    <div class="ml-16 flex h-full flex-col items-center justify-center">
                        <div class="px-8">
                            <div class="py-16">
                                <div class="mb-8 block select-none">
                                    <h2
                                        class="text-wrap font-modern text-4xl leading-snug	 tracking-widest text-stone-300">
                                        CHANGING
                                        THE
                                        WAY
                                        THE WORLD
                                        INTERACTS WITH YOUR
                                        IDENTITY
                                    </h2>
                                </div>
                                <div class="block">
                                    <button
                                        class="bg-white px-8 py-4 font-josefin  text-xs font-semibold text-stone-950">GET
                                        STARTED</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="flex w-full select-none">
            <div class="flex flex-1 py-12">
                <div class="mx-16 flex flex-1 flex-col items-center justify-center px-4">
                    <div class="mb-8 flex-1">
                        <h1 class="font-modern text-4xl tracking-widest text-neutral-500">ABOUT ILLUMINODES</h1>
                    </div>
                    <div class="flex flex-1 flex-row">
                        <div class="flex h-fit w-1/2 flex-col items-center px-4 pb-8">
                            <img src="assets/legacyMedical.png" class="mb-8  h-[24rem]" />
                            <h3 class="mb-4 font-josefin text-2xl text-neutral-950">Our Mission</h3>
                            <p class="text-wrap w-2/3 font-josefin text-lg text-neutral-400">To integrate the legacy
                                medical system to a decentralized and sovereign network, giving control of data and
                                revenue streams back to users.</p>
                        </div>
                        <div class="flex h-fit w-1/2 flex-col items-center px-4 pb-8">
                            <img src="assets/decentralization.webp" class="mb-8 h-[24rem]" />
                            <h3 class="mb-4 font-josefin text-2xl text-neutral-950">Our Values</h3>
                            <p class="text-wrap w-2/3 font-josefin text-lg text-neutral-400">We are committed to
                                building on open and decentralized standards to ensure a sovereign future.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "contactDetails.html" %}
    </main>
    <footer class="select-none bg-neutral-900 font-josefin">
        <section class="flex w-full flex-col text-center">
            <div class="mb-2 mt-4">
                <p class="text-stone-300">illuminodes</p>
            </div>
            <div class="mb-4 mt-2 flex flex-1 flex-row">
                <div class="w-1/2">
                    <p class="text-stone-300">Copyright © 2024 illuminodes - All Rights Reserved.</p>
                </div>
                <div class="w-1/2">
                    <p class="text-stone-300">Powered by Nostr and Bitcoin.</p>
                </div>
            </div>
        </section>
    </footer>
</div>
{% endblock %}
