{% extends "base.html" %}
{% block title %}illuminodes{% endblock %}
{% block content %}
<div class="flex flex-col items-center gap-16 h-full w-full relative font-nostr-regular">
    <img src="../assets/backgrounds/background-principal.png" alt="Illuminodes Logo"
        class="w-full mx-8 absolute md:-translate-y-48 lg:-translate-y-72 xl:-translate-y-96 sm:-mt-36 z-10" />
    {% include "header.html" %}
    {% include "sections/landing.html" %}
    {% include "sections/about.html" %}
    {% include "sections/mission.html" %}
    {% include "sections/tech.html" %}
    {% include "footer.html" %}
</div>
{% endblock %}
