<div
    class="flex flex-row sm:flex-col items-center gap-8 z-50 bg-nostr-light rounded-lg sm:fixed sm:top-1/2 sm:right-0 mx-8 p-2 sm:py-8 sm:px-2">
    <a target="_blank" href={{crate::consts::X_LINK}} class="text-white hover:text-nostr-light">
        <img src="../assets/icons/x.png" alt="twitter link" class="h-8" />
    </a>
    <a target="_blank" href={{crate::consts::PRIMAL_LINK}} class="text-white hover:text-nostr-light">
        <img src="../assets/icons/nostr.png" alt="primal link" class="h-8" />
    </a>
    <a target="_blank" href={{crate::consts::MEDIUM_LINK}} class="text-white hover:text-nostr-light">
        <img src="../assets/icons/medium.png" alt="medium link" class="h-8" />
    </a>
</div>
