@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-bold text-wrap sm:text-nowrap font-nostr-bold;
    }
    h2 {
        @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-bold text-nowrap font-nostr-bold;
    }
    h3 {
        @apply text-xl font-bold text-nowrap font-nostr-bold p-4 border-b-nostr-light border-b-2 mb-4 sm:mb-16 z-20;
    }
    h4 {
        @apply text-xl sm:text-2xl font-bold;
    }
    p {
        @apply text-base md:text-lg lg:text-xl text-wrap;
    }
}
@font-face {
    font-family: 'SF-Pro';
    src: url('../assets/fonts/sf-pro-regular.ttf');
}

@font-face {
    font-family: 'SF-Pro-Bold';
    src: url('../assets/fonts/sf-pro-bold.ttf');
}


