<div
    class="flex flex-col items-center justify-center gap-8 z-20 max-w-sm sm:max-w-xl text-center mt-24 sm:mt-48 bg-img-fuzzy bg-cover bg-center">
    <h1>Integrity in Identity</h1>
    <p>{{crate::consts::WEBSITE_SUBTITLE}}</p>
    <a target="_blank" href={{crate::consts::TELEGRAM_LINK}}>
        <button
            class="px-12 py-4 bg-nostr-light text-white font-bold text-lg lg:text-xl rounded-full hover:bg-nostr-dark">Contact
            Us</button>
    </a>
    {% include "sticky.html" %}
</div>
