<div
    class="flex flex-col sm:flex-row items-center justify-center gap-16 z-30 text-center  mt-4 mx-16 sm:mt-8 sm:mx-32 md:mt-16 md:mx-48">
    <div
        class="bg-nostr-dark rounded-3xl p-8 aspect-square flex flex-col text-right gap-4 w-64 lg:w-96 items-center justify-center sm:mb-24">
        <h5 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-wrap font-nostr-bold">Our Vision</h5>
        <p class="text-base lg:text-lg text-wrap">{{crate::consts::WEBSITE_VISION}}</p>
    </div>
    <div
        class="bg-nostr-dark rounded-3xl p-8 aspect-square flex flex-col text-left gap-4 w-64 md:w-80 lg:w-96 items-center justify-center sm:mt-24">
        <h5 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-bold text-wrap font-nostr-bold">Our Mission
        </h5>
        <p class="text-base lg:text-lg text-wrap">{{crate::consts::WEBSITE_MISSION}}</p>
    </div>
</div>
<div class="flex flex-col items-center gap-8 z-20 text-center  mt-4 mx-16 sm:mt-8 sm:mx-32 md:mt-16 md:mx-48">
    <div class="flex flex-col items-center gap-8 text-center relative">
        <img src="../assets/backgrounds/purple-background.png" alt="Purple Background"
            class="w-full sm:scale-75 z-10 absolute sm:-translate-y-96" />
        <div class="flex flex-col items-center gap-8 text-center z-20">
            <h2>Our Philosophy</h2>
            <div class="flex flex-col md:flex-row  justify-between items-center gap-12">
                <p class="text-center md:text-left">{{crate::consts::WEBSITE_PHILOSOPHY}}</p>
                <img src="../assets/icons/integrity.png" alt="Nodes Icon" class="sm:w-1/2 scale-75" />
            </div>
        </div>
    </div>
</div>
