<div class="flex flex-col items-center gap-8 z-20 text-center  mt-4 mx-16 sm:mt-8 sm:mx-32 md:mt-16 md:mx-48">
    <h3 id="technology">Technology</h3>
    <h2>Our Technology</h2>
    <div class="flex flex-col md:flex-row items-center text-center">
        <div class="flex flex-col gap-4 flex-1 m-4">
            <p class="text-center md:text-left">
                {{crate::consts::WEBSITE_TECH_1}}
            </p>
            <p class="text-center md:text-left">
                {{crate::consts::WEBSITE_TECH_2}}
            </p>
        </div>
        <div class="relative sm:w-1/2">
            <img src="../assets/backgrounds/purple-background.png" alt="Nodes Icon" class="w-full absolute" />
            <img src="../assets/icons/illumGray.png" alt="Nodes Icon" class="w-full scale-50" />
        </div>
    </div>
</div>
